.cover__subtitle {
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    max-width: 320px;
    position: absolute;
    margin-top: 0px;
    color: #fff;
    top: calc(50% + 32px);
    left: calc((100% - 320px) /2);
}


@media screen and (max-width: 475px) {
    .cover__subtitle {
        top: calc(50% + 16px);
        left: calc((100% - 288px)/2);
        font-size: 14px;
        line-height: 1.1;
        max-width: 288px;
    }
}