.cover__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 1.1;
    max-width: 656px;
    position: absolute;
    margin-top: 0px;
    margin-bottom: 32px;
    color: #fff;
    text-decoration: none;
    top: calc(50% - 72px);
    left: calc((100% - 618px) / 2);
}



@media screen and (max-width: 475px) {
    .cover__title {
        top: calc(50% - 32px );
        left: calc((100% - 288px)/2);
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 1.1;
    }
}